[Unit]
Description=Raspberry Pi Camera (camera_ros) - publikuje /camera/image_raw
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=aladix
Group=aladix
Environment="HOME=/home/aladix"
Environment="USER=aladix"
Environment="ROS_DOMAIN_ID=0"
ExecStart=/bin/bash -c 'source /opt/ros/jazzy/setup.bash && ros2 run camera_ros camera_node --ros-args -p camera:=0 -p width:=640 -p height:=480'
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
