[Unit]
Description=LD19 Lidar Driver (ldlidar_ros2) - publikuje na /scan
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=aladix
Group=aladix
Environment="HOME=/home/aladix"
Environment="USER=aladix"
ExecStart=/bin/bash -c 'source /opt/ros/jazzy/setup.bash && source BP_INSTALL_PLACEHOLDER/setup.bash && ros2 launch ldlidar_ros2 ld19.launch.py'
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
